* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    border: 1px solid red;
}

.button {
    width: 100%;
    height: 60px;
    display: flex;
    margin-bottom: 10px;
}

/* Style the button */
.button  button {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    font-size: 28px;
    font-weight: bold;
    color: #4d4845;
    background-color: white;
}

nav {
    width: 100%;
    height: 80px;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #ffffff;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add an angle bracket symbol ( > ) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 0 10px;
    color: black;
    content: ">\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #4d4845;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #0088ff;
    text-decoration: underline;
}


