/* 超大型螢幕 */

@media screen and (max-width:1200px) {
    header a img {
        width: 90%;
        height: 75px;
    }
    .nav_icon a {
        font-size: 19px;
        margin-right: 10px;
    }
}


/* 大型螢幕 */

@media screen and (max-width:992px) {
    header a img {
        width: 80%;
        height: 70px;
    }
    .nav_icon a {
        font-size: 18px;
        margin-right: 10px;
    }

}


/* 平板 */

@media screen and (max-width:768px) {
    header a img {
        width: 70%;
        height: 60px;
    }
    .nav_icon a {
        /* font-size: 16px;
        margin-right: 10px; */
        display: none;
    }
    .rwd_icon {
        display: block;
    }
    div.food_list_border{
        width: 49%;    
    }
    .group_button{
        display: none;
    }
    div.food_list_border2{
        margin-right: 0;
    }
    div.food_order_group{
        float: right;
    }
    div.add_cart{

    }

}


/* 手機 */

@media screen and (max-width:576px) {
    header a img {
        width: 60%;
        height: 50px;
    }
    div.food_list_border{
        width: 100%;  
        margin-right: 0;
    }

    div.food_order_group{
        float: right;
    }

    div.food_list_border2{
        margin-left: 1vh;
    }
    .group_button{
        display: none;
    }

}