/* 首頁 start */

/* 搜尋欄 start */

#search_box {
    height: 100vh;
    display: flex;
    align-items: center;
    max-width: 100%;
    background-image: url("../img/index_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
}

#search_box .search_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search_box .search_mobile_div,
#search_box .mobile_div {
    display: none;
}


/* 搜尋關鍵字 start */

#search_box .search_keyword {
    width: 700px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
    border: none;
}

#search_box .search_keyword:hover {
    box-shadow: 0 1px 10px 2px #999999;
}

#search_box .search_keyword:focus {
    outline: none;
    box-shadow: 0 1px 10px 2px #888888;
}


/* 搜尋關鍵字 end */


/* 搜尋地區 start */

#search_box .area_btn {
    display: none;
}

#search_box .area_label {
    position: relative;
    width: 700px;
    height: 60px;
    line-height: 60px;
    background-color: white;
    color: #403C3C;
    text-align: start;
    cursor: pointer;
    border-radius: 5px;
}

#search_box .area_label .fa-map-marker-alt {
    color: #403C3C;
    padding: 10px;
}

#search_box .area_label .fa-sort-down {
    color: #403C3C;
    margin-left: 74.4%;
}


/* .area_btn:checked+.area_label+.tab_div {
    display: block;
} */

#search_box .area_label:hover {
    box-shadow: 0 1px 10px 2px #999999;
    color: black;
}

#search_box .area_btn:checked+.area_label {
    box-shadow: 0 1px 10px 2px #888888;
}

#search_box .tab_div {
    background-color: white;
    text-align: center;
    margin-top: -8px;
    padding-top: 15px;
    z-index: 2;
    width: 700px;
    display: none;
    border-radius: 0 0 5px 5px;
}

#search_box .tab_css {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#search_box .tab_css input {
    display: none;
}

#search_box .tab_css label {
    margin: 0 5px 5px 0;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 5px;
    background: #8B1309;
    color: #fff;
    opacity: 0.5;
}

#search_box .tab_content {
    order: 1;
    display: none;
    width: 100%;
    line-height: 1.6;
    font-size: 18px;
    padding: 15px;
    border: 1px solid rgb(226, 225, 225);
}

#search_box .tab_content span {
    margin-left: 10px;
    cursor: pointer;
}

#search_box .tab_css input:checked+label,
#search_box .tab_css label:hover {
    opacity: 1;
    font-weight: bold;
}

#search_box .tab_css input:checked+#search_box label+#search_box .tab_content {
    display: initial;
}

#search_box .tab_close {
    padding: 10px;
}


/* 搜尋地區 end */


/* 進階搜尋 start */

#search_box .other_btn {
    display: none;
}

#search_box .other_label {
    position: relative;
    width: 700px;
    height: 60px;
    line-height: 60px;
    background-color: #FCC106;
    color: #403C3C;
    text-align: start;
    cursor: pointer;
    border-radius: 5px;
}

#search_box .other_label:hover {
    box-shadow: 0 1px 10px 2px #999999;
    color: black;
}

#search_box .other_label .fa-hand-point-up {
    color: #403C3C;
    padding: 10px;
}

#search_box .other_label .fa-sort-down {
    color: #403C3C;
    margin-left: 77.4%;
}

#search_box .chk_div {
    background-color: #FCC106;
    margin-top: -8px;
    z-index: 1;
    width: 700px;
    border-radius: 0 0 5px 5px;
    display: none;
    text-align: center;
}


/* .other_btn:checked+.other_label+.chk_div {
    display: block;
} */

#search_box .other_btn:checked+#search_box .other_label {
    box-shadow: 0 1px 10px 2px #888888;
}

#search_box .chk_css {
    padding: 20px 15px 10px 15px;
}

#search_box .chk_item {
    display: inline;
    padding: 5px 15px;

}

#search_box .chk_chk {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

#search_box .chk_close {
    padding: 10px;
}


/* 進階搜尋 end */


/* 搜尋鈕 start */

#search_box .search_btn {
    background-color: #8B1309;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    height: 50px;
    width: 350px;
    transition: 0.3s;
}

#search_box .search_btn:hover {
    background-color: #a30f01;
}


/* 搜尋鈕 end */


/* 搜尋欄 end */

.kind_div {
    margin-left: 10%;
    margin-right: 10%;
}

.kind_div h3 {
    padding: 50px;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}

.water_fall {
    width: 100%;
    column-count: 4;
}

.kind_span {
    display: flex;
    margin-right: 5%;
    margin-bottom: 15%;
}

.index_img {
    width: 100%;
    position: relative;
    border-radius: 5px;
}

.index_img img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover
}

.kind_span span:hover {
    color: #999999;
}

.kind_span span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: unset;
    font-size: 48px;
    z-index: 1;
    color: white;
}

/* 置頂紐 */
.ontop_btn {     
    width: 60px;     
    height: 60px;     
    border: none;     
    border-radius: 50%;     
    color: #fff;     
    font-size: 1.75rem;     
    background-color: #403C3C;     
    position: fixed;     
    bottom: 10%;     
    right: 5%;     
    transition: 0.3s;      
    }  

.ontop_btn:hover {     
    background-color: grey;     
}


/* 首頁 end */


/* RWD start */


/* 超大型螢幕 */

@media screen and (max-width:1200px) {
    #search_box .search_keyword {
        height: 40px;
        width: 500px;
    }
    #search_box .area_label {
        height: 40px;
        line-height: 40px;
        width: 500px;
    }
    #search_box .area_label .fa-sort-down {
        margin-left: 71%;
    }
    #search_box .tab_div {
        /* position: absolute;
        top: 100px;
        left: 330px; */
        width: 500px;
    }
    #search_box .other_label {
        height: 40px;
        line-height: 40px;
        width: 500px;
    }
    #search_box .other_label .fa-sort-down {
        margin-left: 74%;
    }
    #search_box .chk_div {
        /* position: absolute;
        top: 180px;
        left: 230px; */
        width: 500px;
    }
    #search_box .chk_css {
        padding: 10px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #search_box .chk_item {
        padding: 5px 10px 5px 10px;
        font-size: 1.3vw;
    }
    #search_box .tab_close,
    #search_box .chk_close {
        font-size: 14px;
    }
    #search_box .search_btn {
        height: 40px;
        width: 300px;
    }
    .kind_span {
        margin-bottom: 25%;
    }
    .index_img img {
        height: 200px;
    }
    .kind_span span {
        font-size: 36px;
    }
}


/* 大型螢幕 */

@media screen and (max-width:992px) {
    #search_box {
        height: 60vh;
    }
    #search_box .search_keyword {
        width: 450px;
    }
    #search_box .area_label {
        width: 450px;
    }
    #search_box .area_label .fa-sort-down {
        margin-left: 68%;
    }
    #search_box .tab_div {
        width: 450px;
    }
    #search_box .other_label {
        width: 450px;
    }
    #search_box .other_label .fa-sort-down {
        margin-left: 71.5%;
    }
    #search_box .chk_div {
        width: 450px;
    }
    #search_box .chk_css {
        padding: 5px 5px 0px 5px;
    }
    #search_box .chk_item {
        padding: 5px;
    }
    #search_box .search_btn {
        width: 450px;
    }
    .kind_span {
        margin-bottom: 25%;
    }
    .index_img img {
        height: 180px;
    }
    .kind_span span {
        font-size: 24px;
    }
}


/* 平板 */

@media screen and (max-width:768px) {
    #search_box {
        height: 70vh;
    }
    #search_box .search_div {
        display: none;
    }
    #search_box .search_mobile_div {
        all: unset;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #search_box .search_mobile_inline_div {
        background-color: #fff;
        width: 75%;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
    }
    #search_box .search_icon {
        margin-left: 20px;
        font-size: 25px;
    }
    #search_box .search_label {
        margin-left: 20px;
        font-size: 20px;
        line-height: 40px;
    }
    #search_box .mobile_div {
        font-size: 3vw;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        background-color: #fff;
    }
    #search_box .turn_off {
        background-color: rgb(236, 236, 236);
        font-size: 4vw;
    }
    #search_box .mobile_inline_div {
        padding: 20px 50px 50px 50px;
        background-color: rgb(236, 236, 236);
    }
    #search_box .search_keyword {
        width: 100%;
    }
    #search_box .area_label {
        width: 100%;
        margin-bottom: 20px;
    }
    #search_box .area_label .fa-sort-down {
        display: none;
    }
    #search_box .mobile_tab_div {
        width: 100%;
        margin-left: 70px;
        margin-top: 30px;
        display: none;
    }
    #search_box .mobile_tab_css label {
        font-size: 2.6vw;
        width: 80%;
        border-bottom: 1.5px solid #d1d1d1;
        display: block;
    }
    #search_box .mobile_tab_content {
        display: none;
    }
    #search_box .mobile_tab_content span {
        display: block;
        width: 80%;
        border-bottom: 1px solid rgb(224, 224, 224);
        font-size: 2.3vw;
        margin-bottom: 10px;
    }
    #search_box .other_label {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 20px;
        float: left;
        z-index: 1000;
    }
    #search_box .other_label .fa-sort-down {
        display: none;
    }
    #search_box .mobile_chk_css {
        width: 40%;
        float: left;
        margin: 10px;
    }
    #search_box .mobile_chk_item {
        font-size: 2.5vw;
        margin-right: 50px;
    }
    #search_box .search_btn {
        margin-top: 0px;
        width: 49%;
    }
    .water_fall {
        column-count: 2;
    }
    .kind_span {
        margin-bottom: 10%;
    }
    .index_img img {
        height: 250px;
    }
    .kind_span span {
        font-size: 36px;
    }
}


/* 手機 */

@media screen and (max-width:576px) {
    #search_box {
        height: 60vh;
    }
    #search_box .other_label {
        width: 100%;
    }
    #search_box .mobile_tab_div {
        margin-left: 50px;
    }
    #search_box .mobile_chk_item {
        margin-right: -10px;
    }
    #search_box .search_btn {
        width: 100%;
    }
    .index_img img {
        height: 200px;
    }
    .kind_span span {
        font-size: 24px;
    }
    .ontop_btn {     
        width: 40px;     
        height: 40px;       
        bottom: 10%;     
        right: 5%;     
        transition: 0.3s;      
    }  
}


/* 小手機 */

@media screen and (max-width:480px) {
    .kind_div h3 {
        font-size: 24px;
    }
    .index_img img {
        height: 150px;
    }
    .kind_span span {
        font-size: 24px;
    }
    .ontop_btn {     
        bottom: 10%;     
        right: 3%;     
    }  
}


/* RWD end */