#MemberRegister .container {
  margin-top: 10px;
  padding: 50px;
}

#MemberRegister .register_title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-right: 30px;
}

#MemberRegister .register_title_text {
  font-size: 30px;
  font-weight: 600;
}

#MemberRegister .register_form {
  width: 700px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-left: 160px;
  margin-top: 70px;
  padding-top: 10px;
  padding-bottom: 15px;
}

#MemberRegister .input_box {
  width: 300px;
  margin-left: 20px;
}

#MemberRegister .form_text {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 15px;
}

#MemberRegister .password_confirm {
  position: relative;
  right: 69px;
}

#MemberRegister .btn_div {
  display: flex;
  justify-content: center;
  margin-right: 80px;
}

#MemberRegister .register_btn {
  color: white;
  background-color: #8b1309;
  font-size: 24px;

  border: none;
  border-radius: 5px;
  padding-bottom: 40px;
  width: 150px;
  margin-top: 30px;
  transition: 0.3s;
  font-weight: 600;
}

#MemberRegister .register_btn:hover {
  background-color: #f14030;
}

#MemberRegister .reportSpan {
  width: 140px;
  text-align: center;
  margin-top: 140px;
  margin-right: 63px;
}

/* RWD */

/* 超大型螢幕 */

@media screen and (max-width: 1200px) {
  #MemberRegister .container {
    /* border: 1px solid black; */
    margin-top: -30px;
  }

  #MemberRegister .register_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  #MemberRegister .member_icon {
    width: 30px;
  }

  #MemberRegister .register_title_text {
    font-size: 25px;
    font-weight: 600;
  }

  #MemberRegister .input_box {
    width: 200px;
    margin-left: 10px;
  }

  #MemberRegister .form_text {
    font-size: 16px;
    letter-spacing: 10px;
  }

  #MemberRegister .password_confirm {
    position: relative;
    right: 53px;
  }

  #MemberRegister .register_btn {
    padding: 5px;
    width: 100%;
    margin-top: 0px;
  }
}

/* 大型螢幕 */

@media screen and (max-width: 992px) {
}

/* 平板 */

@media screen and (max-width: 768px) {
  #MemberRegister .container {
    /* border: 1px solid black; */
    margin-top: 80px;
  }

  #MemberRegister .register_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  #MemberRegister .member_icon {
    width: 35px;
  }

  #MemberRegister .register_title_text {
    font-size: 30px;
    font-weight: 600;
  }

  #MemberRegister .input_box {
    width: 250px;
    margin-left: 10px;
  }

  #MemberRegister .form_text {
    font-size: 20px;
    letter-spacing: 10px;
  }

  #MemberRegister .password_confirm {
    position: relative;
    right: 60px;
  }

  #MemberRegister .register_btn {
    padding: 5px;
    width: 100%;
    margin-top: 30px;
  }
}

/* 手機 */

@media screen and (max-width: 576px) {
  #MemberRegister .container {
    /* border: 1px solid black; */
    margin-top: -25px;
  }

  #MemberRegister .register_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  #MemberRegister .member_icon {
    width: 25px;
  }

  #MemberRegister .register_title_text {
    font-size: 22px;
    font-weight: 600;
  }

  #MemberRegister .input_box {
    width: 180px;
    margin-left: 10px;
  }

  #MemberRegister .form_text {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 5px;
  }

  #MemberRegister .password_confirm {
    position: relative;
    right: 40px;
  }

  #MemberRegister .register_btn {
    padding: 5px;
    width: 100%;
    margin-top: 25px;
  }
}
