/* 側邊攔 start */
#aside_menu_chk {
  opacity: 0;
  z-index: -1;
}

#member_aside {
  background-color: #403c3c;
  width: 230px;
  height: 100%;
  position: absolute;
  float: left;
  left: 0;
  position: fixed;
}

#mobile_member_aside {
  display: none;
}

#member_aside .default {
  background-color: #8b1309;
}

#member_aside .panel-default {
  border-bottom: 1px solid white;
  padding: 5px;
  width: 100%;
}

#member_aside .panel-title {
  padding-top: 8px;
}

#member_aside .panel-title:hover {
  background-color: #8b1309;
}

#member_aside .panel .panel-heading a {
  font-weight: 600;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  width: 100%;
}

#member_aside .panel-default:hover {
  background-color: #8b1309;
}

/* 側邊欄 end */

#member_info {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  width: 100%;
}

#member_info .member_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #403c3c;
  border-radius: 5px;
  padding: 20px 50px;
  width: 40%;
}

#member_info .title_member {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

#member_info .form-control {
  width: 300px;
}

#member_info .btn_div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10% 0;
}

#member_info .btn_div a{
  width: 100%;
}

#member_info .member_editpwd_btn {
  border-radius: 5px;
  height: 40px;
  width: 90%;
  color: #fff;
  background-color: #403c3c;
  transition: 0.3s;
}

#member_info .member_editpwd_btn:hover {
  background-color: #524d4d;
}

#member_info .member_editinfo_btn {
  border-radius: 5px;
  margin-left: 20px;
  width: 90%;
  height: 40px;
  color: #fff;
  background-color: #8b1309;
  transition: 0.3s;
}

#member_info .member_editinfo_btn:hover {
  background-color: #a30f01;
}

/* RWD start */

/* 超大型螢幕 */

@media screen and (max-width: 1200px) {
  #member_aside {
    display: none;
  }
  #aside_menu_chk:checked + #mobile_member_aside {
    transform: translateX(0);
  }
  #aside_menu_chk:checked + #mobile_member_aside .fa-angle-right {
    transform: scaleX(-1);
  }
  #mobile_member_aside {
    display: unset;
    background-color: #403c3c;
    width: 230px;
    height: 100vh;
    position: absolute;
    float: left;
    left: 0;
    position: fixed;
    transform: translateX(-99%);
    z-index: 2;
    transition: 0.6s;
  }
  #mobile_member_aside label {
    position: absolute;
    background-color: #ccc;
    border-radius: 0 5px 5px 0;
    padding: 20px 10px;
    top: 50%;
    left: 100%;
    transition: 0.6s;
  }
  #mobile_member_aside .default {
    background-color: #8b1309;
  }
  #mobile_member_aside .panel-default:hover {
    background-color: #8b1309;
  }
  #mobile_member_aside .panel-default {
    border-bottom: 1px solid white;
    padding: 5px;
    width: 100%;
  }
  #mobile_member_aside .panel-title {
    padding-top: 8px;
  }
  #mobile_member_aside .panel .panel-heading a {
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    width: 100%;
  }
  #member_info .member_div {
    width: 50%;
    margin-top: 4%;
  }
  
  #member_info .form-control {
    width: 70%;
  }
}

/* 大型螢幕 */

@media screen and (max-width: 992px) {
  #member_info .member_div {
    padding: 20px 60px;
    width: 60%;
  }
}

/* 平板 */

@media screen and (max-width: 768px) {
  #member_info .member_div {
    padding: 20px 20px;
    width: 80%;
  }
  
  #member_info .form-control {
    width: 100%;
  }
}

/* 手機 */

@media screen and (max-width: 576px) {
  #member_info .member_div {
    padding: 20px 5px;
  }
  
  #member_info .form-control {
    width: 100%;
  }
  #member_info .member_back_btn{
    margin-right: 5px;
  }
}

/* 小手機 */

@media screen and (max-width: 480px) {
  #member_info .title_member_edit{
    font-size: 24px;
  }
  #member_info .edit_label{
    font-size: 14px;
  }
}

/* RWD end */
