section{
    height: 87vh;
}

.container{
    position: relative;
}

.home_login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,60%);
    
}

.title_home_login{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.account_home_login input{
    border-radius: 5px; 
    width: 200px;
    border-color: whitesmoke;
}

.btn_home_forgetpwd{
    font-size: 10px;
    margin-top: 10px;
    float: left;
}

.btn_home_rememberme{
    float: left;
    font-size: 10px;
    margin-top: 12px;
    margin-left: 150px;
}

.login_btn{
    width: 200px;
    height: 50px;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 24px;
    background-color: #8B1309;
    color: #fff;
    border: whitesmoke 1px solid;
    border-radius: 10px;
    transition: 0.3s;
}

.login_btn:hover{
    background-color: #a30f01;
}
