body {
  font-size: 18px;
}


.order_finish {
  width: 500px;
  height: 260px;
  border: solid 1.5px #707070;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}



.order_finish p {
  padding-top:23%;
}

.buy_back_btn {
  width: 200px;
  height: 40px;
  background-color: #403c3c;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}

.buy_back_btn:hover{
  background-color: #4b4747;
}

 #back_to_home {
 position: relative;
 left: 300px;
 top: 10px;

}

#check_order{
  position: absolute;
  margin-top: 10px ;
} 

.order_finish_div{
  width: 300px;
  height: 200px;
  margin: 10% auto;
}

.footer_page {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

@media screen and (max-width:576px) {

  .footer_page {
      position: static;
      margin-top: 20px;
  }
}


@media screen and (max-width:768px){
  .order_finish {
    width: 300px;
    height: 160px;
    border: solid 1.5px #707070;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
  }

  .buy_back_btn {
    width: 120px;
    height: 30px;
    background-color: #403c3c;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
  }
  #back_to_home {
    margin-top: 10px;
    margin-left: 55px;
   }
}