aside {
    background-color: #403C3C;
    width: 230px;
    height: 100vh;
    position: fixed;
    top: 12%;
}

.panel-default{
    /* border: 1px solid red; */
    border-bottom: 1px solid white;
    padding: 5px;
    width: 100%;
}

.panel-title {
    padding-top: 8px;
}

.panel-heading a {
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: 0.3s;
    width: 100%;
}

.little_title {
    /* border: 1px solid red; */
    margin-left: -5px;
    margin-right: -6px;
    padding: 5px 0 5px 15px;
}

.little_title:hover {
    background-color: #8B1309;
}

.little_title a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.sreach_form {
    /* border: 1px solid red; */
    padding: 0 10px 5px 10px;
}

.form_textbox {
    margin-bottom: -6px;
}